[init]
	defaultBranch = main
[core]
	autocrlf = input
	longpaths = true
[user]
	name = Helge Willum Thingvad
	email = 1019305+tachylatus@users.noreply.github.com
	signingkey = 8454DF309A76CA3A!
[commit]
	gpgsign = true
[push]
	default = current
[credential]
	helper = manager-core
[alias]
	br = branch
	ci = commit
	co = checkout
	st = status
	sub = submodule
	# Amend latest commit
	amend = commit --amend
	# Checkout a new branch
	cb = checkout -b
	# Produce Markdown changelog, specify e.g. main..dev (or just main..)
	changelog = log --pretty=format:\"- %s\"
	# Show staged changes
	df = diff --cached
	# Push changes to origin, e.g. prior to creating a merge request
	done = push origin HEAD
	# Switch to branch and pull changes incl. pruning e.g. after a merge
	donedone = "!git switch $1 && git pull --ff-only origin $1:$1 && git fetch -ap #"
	# Switch to main/master and pull changes incl. pruning e.g. after a merge
	donemain = !git switch $(git main) && git pull --ff-only origin $(git main):$(git main) && git fetch -ap
	# Search files in working directory, including untracked, excluding ignored
	gr = grep --no-index --exclude-standard
	# Display log as a graph
	graph = log --all --graph --decorate --oneline
	# Display the last log entry of current branch
	last = log -1 HEAD
	# Determine whether default branch is master or main
	main = ![ -f \"$(git rev-parse --show-toplevel)/.git/refs/heads/master\" ] && echo master || echo main
	# Update all submodules
	subup = submodule update --recursive --remote --init
	# Fetch all changes, prune deleted branches and tags, and pull/update master (fast-forward only)
	sync = !git fetch -ap && git pull --ff-only origin $(git main):$(git main)
	# Unstage everything (does not change contents of working directory)
	unstage = reset HEAD --
